@using PortaJel_Blazor.Data;
@using BlazorAnimate;
@using PortaJel_Blazor.Classes.Services;
@using PortaJel_Blazor.Shared;
@using PortaJel_Blazor.Shared.Icons;
@using Blurhash;
@inject IJSRuntime JS;

@page "/AlbumView/{albumId}"

@if (loaded)
{
    <ViewHeader backgroundImgUrl="@album.image.source" backgroundImgUrlPlaceholder="@backgroundBlurHash" baseMusicItem=@album />

    <Animate Animation="Animations.FadeIn" Duration="TimeSpan.FromSeconds(0.5)" style="position:relative;">
        <img src="data:image/png;base64, @backgroundBlurHash" class="background-blur" alt="backgound" style="top: @backgroundBlurHeight" />

        <div class="image-container" style="top: @headerHeight">
            <img src="data:image/png;base64, @base64BlurHash" class="placeholder" alt="Placeholder Image">
            <img src="@album.image.source" id="@album.id" class="album-cover-img" onerror="this.src='/images/emptyAlbum.png'" alt="@album.name album cover">
        </div>
        @if (album != null)
        {
            <div class="item-title">
                <div class="title-text">
                    <h2 class="PrimaryTextColor" style="margin: 0px">@album.name</h2>
                    <h5 class="SecondaryTextColor" @onclick="() => SelectArtist(
                        album.artists.FirstOrDefault().id)">
                        @album.GetArtistName()
                    </h5>
                </div>
            </div>

            <div class="playback-controls">
                <div @onclick=FavouriteItem>
                    @if (album.isFavourite)
                    {
                        <Animate Animation="Animations.ZoomIn" Duration="TimeSpan.FromSeconds(0.5)">
                            <HeartIcon Filled=true ExtraStyle="height: 2rem; width: 2rem;"></HeartIcon>
                        </Animate>
                    }
                    else
                    {
                        <Animate Animation="Animations.ZoomIn" Duration="TimeSpan.FromSeconds(0.5)">
                            <HeartIcon Filled=false ExtraStyle="height: 2rem; width: 2rem;"></HeartIcon>
                        </Animate>
                    }
                </div>
                <div class="playback-controls-container">
                    <div class="playback-controls-btn">
                        <Animate Animation="Animations.ZoomIn" Duration="TimeSpan.FromSeconds(0.5)" @onclick="(() => PlayAlbum(true))">
                            <ShuffleIcon Enabled=false ExtraStyle="height: 2rem; width: 2rem;"></ShuffleIcon>
                        </Animate>
                    </div>
                    <div class="playback-controls-btn playbtn" @onclick="(() => PlayAlbum(false))">
                        @if (isCurrentAlbum && MauiProgram.MediaService.GetIsPlaying())
                        {
                            <Animate Animation="Animations.ZoomIn" Duration="TimeSpan.FromSeconds(0.5)">
                                <img class="playback-controls-btn-img" src="/images/pause.svg">
                            </Animate>
                        }
                        else
                        {
                            <Animate Animation="Animations.ZoomIn" Duration="TimeSpan.FromSeconds(0.5)">
                                <img class="playback-controls-btn-img" src="/images/play.svg">
                            </Animate>
                        }
                    </div>
                </div>
            </div>

            // Add Songs
            for (int i = 0; i < album.songs.Length; i++)
            {
                album.songs[i].album = album; // TODO: this should already be set figure out why it isnt
                                              // either that or complete the re-do of the data structure 
                                              // again lollllll
                <AlbumSongItem song="@album.songs[i]" location="@i" base64BlurHash="@base64BlurHash" />
            }

            // Add Artists
            @if(album.artists.Count() > 0)
            {
                <br />
                int forcount = 0;
                foreach (var artist in album.artists)
                {
                    <div class="PrimaryTextColor artistInfo" @onclick="() => SelectArtist(artist.id)">
                        <img src="@artist.image.SourceAtResolution(40)" class="artistInfoImg" onerror="this.src='/images/emptyAlbum.png'">
                        <p class="artistInfoText">@artist.name</p>
                    </div>
                    forcount++;
                }
            }

            // Add Similar
            @if (similarAlbumsBase64BlurHash.Count() > 0)
            { // but only after the blurhash is done lol
                <br />
                <HorizontalMusicItemList Title="More Like This" itemCount="@similarAlbums.Count()" albumData="@similarAlbums" albumBlurHashData="@similarAlbumsBase64BlurHash" />
            }
            else if(similarAlbums.Count() > 0)
            { // and again only if we actually HAVE reccomedation
                <br />
                <HorizontalMusicItemList Title="More Like This" itemCount="@similarAlbums.Count()" albumData="null" albumBlurHashData="null" />
            }
        }
        @errormessage
    </Animate>
}

@code {
    [Parameter] public string albumId { get; set; } = String.Empty;

    // GUID records of items that may be in the queue
    private Guid? currentAlbumGuid { get; set; } = null;
    private Guid? currentSongGuid { get; set; } = null;
    public bool isCurrentAlbum = false;
    public int selectedSong = -1;
    private bool isShuffle = false;

    // This bullshit we need to do cause the fucking artists arent loading properly in the razor page
    private Dictionary<Guid, KeyValuePair<string, string>> artistData = new();

    private Album album { get; set; } = Album.Empty;
    private bool loaded = false;
    private int similarAlbumLimit = 30;
    private Album[] similarAlbums = new Album[0];
    private string?[] similarAlbumsBase64BlurHash = new string?[0];

    private string errormessage = String.Empty;
    string? base64BlurHash = String.Empty;
    string? backgroundBlurHash = String.Empty;

    private string backgroundBlurHeight = "-" + (MauiProgram.SystemHeaderHeight* 2) + "px!important"; 
    private string headerHeight = "-" + (MauiProgram.SystemHeaderHeight ) + "px!important";

    protected override void OnInitialized()
    {
        MauiProgram.WebView.pageTitle = "Album";
        MauiProgram.WebView.currentUri = $"/AlbumView/{albumId}";
        MauiProgram.WebView.showHeader = false;
        MauiProgram.UpdateDebugMessage("Page Loaded.");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(album != null)
        {
            await JS.InvokeAsync<string>("InitAllImages");
            await JS.InvokeAsync<string>("InitImageLoader", album.id);
        }
        if (loaded)
        {
            MauiProgram.WebView.isLoading = false;
            // await JS.InvokeAsync<string>("InitAllAlbumSongItem");
            await Task.Delay(150); // allow album items time to snap into place
            MauiProgram.MainPage.ShowLoadingScreen(false);
        }
    }

    protected override void OnParametersSet()
    {
        loaded = false;
        similarAlbums = new Album[0];
        similarAlbumsBase64BlurHash = new string?[0];
        StateHasChanged();
        LoadAlbum();
    }

    private async void LoadAlbum()
    {
        // Block for getting all the album info
        try
        {
            if (album != null)
            {
                currentAlbumGuid = MauiProgram.currentAlbumGuid;
                currentSongGuid = MauiProgram.currentSongGuid;
                if (currentAlbumGuid != null && currentAlbumGuid != Guid.Empty && currentAlbumGuid == album.id)
                {
                    isCurrentAlbum = true;
                }
                else
                {
                    isCurrentAlbum = false;
                }

                Guid parseId = Guid.Parse(albumId);
                if (albumId != null)
                {
                    // album = await MauiProgram.servers[0].FetchAlbumByIDAsync(parseId, fetchFullArtist: true);
                    MauiProgram.UpdateDebugMessage("Starting request for Album data.");
                    Task<Album> getAlbum = MauiProgram.api.GetAlbumAsync(parseId);
                    Task<Album[]> getSimilarAlbum = MauiProgram.api.GetSimilarAlbumsAsync(parseId, similarAlbumLimit);
                    await Task.WhenAll(getAlbum, getSimilarAlbum);
                    album = getAlbum.Result;
                    similarAlbums = getSimilarAlbum.Result;
                }
                else
                {
                    MauiProgram.WebView.NavigateHome();
                    return;
                }

                MauiProgram.UpdateDebugMessage("Setting Play Additional Update Action");

                if (MauiProgram.MediaService != null)
                {
                    MauiProgram.MediaService.SetPlayAddonAction(() =>
                    {
                        InvokeAsync(() => StateHasChanged());
                    });
                }

                MauiProgram.UpdateDebugMessage("Decoding Blurhash.");
                base64BlurHash = await album.image.BlurhashToBase64Async(20, 20);
                backgroundBlurHash = await album.image.BlurhashToBase64Async(20, 20, 0.3f);
                Task<string[]> runSimilarBlurhash = GenerateBlurHash(similarAlbums);
                similarAlbumsBase64BlurHash = await runSimilarBlurhash;
            }

            // TODO: Add this as an API in the plugin, not in the app itself
            // GnodService reccomendations = new();
            // similarArtists = await reccomendations.QueryGnod(album.artists.FirstOrDefault().name);
        }
        catch (Exception ex)
        {
            errormessage = ex.ToString();
            // TODO : Implement 'Something went wrong, please try again'
        }

        // Set up the songs
        loaded = true;
        StateHasChanged();
        await JS.InvokeAsync<string>("InitAllAlbumSongItem");
        await Task.Delay(250); // allow album items time to snap into place
        MauiProgram.WebView.isLoading = false;
        MauiProgram.MainPage.ShowLoadingScreen(false);
    }

    private void SelectArtist(Guid artistId)
    {
        MauiProgram.MainPage.ShowLoadingScreen(true);
        MauiProgram.WebView.NavigateArtist(artistId);
    }

    private async void GoBack()
    {
        MauiProgram.MainPage.ShowLoadingScreen(true);
        MauiProgram.WebView.isLoading = true;
        try
        {
            await JS.InvokeAsync<string>("goBack");
        }
        catch (Exception ex)
        {
            bool answer = await App.Current.MainPage.DisplayAlert("Error?", $"Failed to navigate back will return home. Error: {ex} ", "Return", "Continue");
            MauiProgram.WebView.NavigateHome();
        }
    }

    private async void FavouriteItem()
    {
        bool resetState = album.isFavourite;
        try
        {
            album.isFavourite = !album.isFavourite;
            await MauiProgram.api.SetFavourite(album.id, album.serverAddress, album.isFavourite);
        }
        catch (Exception ex)
        {
            album.isFavourite = resetState;
            await App.Current.MainPage.DisplayAlert("Error?", $"{ex}", "Continue");
        }
        StateHasChanged();
        // MauiProgram.api.SetFavourite
    }

    private async void FavouriteSong(Guid songId)
    {
        Song foundItem = null;
        foreach (var song in album.songs)
        {
            if(song.id == songId)
            {
                song.isFavourite = !song.isFavourite;
                foundItem = song;
                break;
            }
        }

        if(foundItem != null)
        {
            StateHasChanged();
            await MauiProgram.api.SetFavourite(foundItem.id, foundItem.serverAddress, foundItem.isFavourite);
        }
    }

    private void PlayAlbum(bool shuffle = false)
    {
        // Move all items in the current queue to the Next Up Queue, to ensure that
        // this item is prioritised, without losing the current queue 
        if (MauiProgram.currentAlbumGuid == album.id)
        {
            isCurrentAlbum = true;
            MauiProgram.MediaService.TogglePlay();
        }
        else
        {
            isCurrentAlbum = false;

            // When a user clicks on an album to listen to the songs go into the next up list
            MauiProgram.MediaService.SetPlayingCollection(album, 0);
            MauiProgram.MediaService.SetPlayingCollection(album);

            MauiProgram.MainPage.RefreshPlayer();
            MauiProgram.MediaService.Play();
        }

        // MauiProgram.MainPage.RefreshPlayer();
        StateHasChanged();
    }

    private async void OpenContextMenu(BaseMusicItem musicItem)
    {
        MauiProgram.MainPage.OpenContextMenu(musicItem, 250, base64BlurHash);
        await Task.Run(() =>
        {
            // Literally just waiting for the fucking thing to close before we refresh
            while (MauiProgram.MainPage.isContextMenuOpen == true)
            {

            }
        });
        StateHasChanged();
    }

    private async Task<string[]> GenerateBlurHash(BaseMusicItem[] data)
    {
        String[] toReturn = new string[data.Count()];
        for (int i = 0; i < data.Count(); i++)
        {
            try
            {
                toReturn[i] = await data[i].image.BlurhashToBase64Async(20, 20);
            }
            catch (Exception)
            {
                toReturn[i] = string.Empty;
            }
        }
        return toReturn;
    }
}