@using PortaJel_Blazor;
@using Microsoft.Maui.Controls;
@using PortaJel_Blazor.Pages;
@using PortaJel_Blazor.Classes;
@using PortaJel_Blazor.Classes.Data
@inject NavigationManager NavigationManager
@namespace PortaJel_Blazor.Shared

<div class="containerImg" @onclick="NavigateToAlbum" @oncontextmenu="OpenContextMenu">
    <div class="imageHolder PageSecondaryBackgroundColor @(isArtist == true ? "artistCircle" : "")">
        <img src="data:image/png;base64, @placeholderBase64" class="albumImage lowRes @(isArtist == true ? "artistCircle" : "")" />
        <img src="@albumImg" class="albumImage album-cover-img opacityTransition @(isArtist == true ? "artistCircle" : "")" loading="lazy" onerror="this.src='/images/emptyAlbum.png'" />
    </div>

    @if(musicObject != null)
    {
        <p class="albumText @(isArtist == true ? "artistText" : "")">
            @if (musicObject is Song)
            { // Show the little song icon
                <img src="/images/song.svg" style="height: 1rem; width: 1rem;"/>
            }
            else if(musicObject is Album)
            {
                <img src="/images/album.svg" style="height: 1rem; width: 1rem;"/>
            }
            @titleCongregate
        </p>
    }
</div>

<style>
    .containerImg {
        display: flex;
        flex-direction: column;
        height: auto; /* Change height to 'auto' */
        inline-size: 160px;
        margin-left: 1rem;
    }
</style>

@code {
    [Parameter] public BaseMusicItem musicObject { get; set; } = new Album();
    [Parameter] public string placeholderBase64 { get; set; } = String.Empty;
    [Parameter] public int? albumResolutionpx { get; set; } = 160;
    bool isArtist = false;
    string? albumText = null;
    string? artistName = null;
    string? titleCongregate = null;

    private int resolution = 250;

    private string albumImg { get; set; } = String.Empty;

    protected override async void OnInitialized()
    {
        if(musicObject != null)
        {
            switch (musicObject)
            {
                case Album album:
                {
                    artistName = album.ArtistNames;
                    titleCongregate = album.Name + " • " + artistName;

                    albumImg = album.ImgSource;
                    if (string.IsNullOrWhiteSpace(placeholderBase64))
                    {
                        string base64 = await MusicItemImage.BlurhashToBase64Async(album.ImgBlurhash, 5, 5);
                        placeholderBase64  = base64 == null ? string.Empty : base64;
                    }

                    break;
                }
                case Song song:
                {
                    artistName = song.ArtistNames;
                    titleCongregate = song.Name + " • " + artistName;

                    albumImg = song.ImgSource;
                    if (string.IsNullOrWhiteSpace(placeholderBase64))
                    {
                        string base64 = await MusicItemImage.BlurhashToBase64Async(song.ImgBlurhash, 5, 5);
                        placeholderBase64 = base64 == null ? string.Empty : base64;
                    }

                    break;
                }
                case Artist artist:
                {
                    isArtist = true;
                    titleCongregate = artist.Name;

                    albumImg = artist.ImgSource;
                    if (string.IsNullOrWhiteSpace(placeholderBase64))
                    {
                        string base64 = await MusicItemImage.BlurhashToBase64Async(artist.ImgBlurhash, 5, 5);
                        placeholderBase64 = base64 == null ? string.Empty : base64;
                    }

                    break;
                }
            }

            StateHasChanged();
        }
    }

    private void NavigateToAlbum()
    {
        if (musicObject != null)
        {
            if (musicObject is Album album)
            {
                MauiProgram.MainPage.ShowLoadingScreen(true);
                MauiProgram.WebView.NavigateAlbum(album);
            }
            if (musicObject is Song song)
            {
                MauiProgram.MainPage.ShowLoadingScreen(true);
                MauiProgram.WebView.NavigateAlbum(new Album(song.Album));
            }
            if(musicObject is Artist artist)
            {
                if (artist.Id == Guid.Empty) { return; }
                MauiProgram.MainPage.ShowLoadingScreen(true);
                MauiProgram.WebView.NavigateArtist(artist.Id);
            }
        }
    }

    private async void OpenContextMenu()
    {
        MauiProgram.MainPage.OpenContextMenu(musicObject, 250, placeholderBase64);
        await Task.Run(() =>
        {
            // Literally just waiting for the fucking thing to close before we refresh
            while (MauiProgram.MainPage.isContextMenuOpen == true)
            {

            }
        });
        StateHasChanged();
    }

}