@using PortaJel_Blazor.Data;
@using PortaJel_Blazor;
@using PortaJel_Blazor.Pages;
@using PortaJel_Blazor.Classes;
@using BlazorAnimate;
@namespace PortaJel_Blazor.Shared

@if(OnViewAction != null)
{
    @inject IJSRuntime JS;
}

@if (musicObject != null)
{
    <div id="@elementId" class="album-container @(isGrid == true ? "gridLayout" : "")">
        <div style="display: flex" @oncontextmenu=OpenContextMenu @onclick=NavigateTo>
            <div class="artist-cover @(isGrid == true ? "gridLayout" : "")">
                @if (String.IsNullOrWhiteSpace(placeholderBase64))
                {
                    <img class="album-cover-img @(musicObject.GetType().Name == "Artist" ? "circle" : "") @(isGrid == true ? "gridLayout" : "")" src="@musicObject.image.SourceAtResolution(resolution)" onerror="this.src='/images/emptyAlbum.png'" />
                }
                else
                { // Do yer placeholder here
                    <img class="album-cover-img opacityTransition @(musicObject.GetType().Name == "Artist" ? "circle" : "") @(isGrid == true ? "gridLayout" : "")" loading="lazy" src="@musicObject.image.source" onerror="this.src='/images/emptyAlbum.png'" />
                    <img class="album-cover-placeholder @(musicObject.GetType().Name == "Artist" ? "circle" : "") @(isGrid == true ? "gridLayout" : "")" src="data:image/png;base64, @placeholderBase64" id="@musicObject.id" onerror="this.style.opacity=0" />
                }
            </div>
            <div>
                @{
                    string artistName = string.Empty;
                    if (musicObject is Album)
                    {
                        Album album = (Album)musicObject;
                        artistName = album.artistCongregate;
                    }
                    if (musicObject is Song)
                    {
                        Song song = (Song)musicObject;
                        artistName = song.artistCongregate;
                    }
                }
                <b class="PrimaryTextColor">@musicObject.name</b>
                <div class="SecondaryTextColor">@artistName</div>
            </div>
        </div>
        @if (musicObject is not Genre && !isGrid)
        {
            <div class="favorite-button" @onclick=FavouriteItem>
                @if (MauiProgram.styleSettings.listItemsContextMenu)
                {
                    <img class="favorite-button-icon" src="/images/more-vert.svg" @onclick=OpenContextMenu />
                }
                else
                {
                    if (musicObject.isFavourite)
                    {
                        <Animate Animation="Animations.ZoomIn" Duration="TimeSpan.FromSeconds(0.5)">
                            <svg class="favorite-button-icon" viewBox="0 -960 960 960" xmlns="http://www.w3.org/2000/svg">
                                <path d="M 480 -120 L 422 -172 C 354.667 -232.667 299 -285 255 -329 C 211 -373 176 -412.5 150 -447.5 C 124 -482.5 105.833 -514.667 95.5 -544 C 85.167 -573.333 80 -603.333 80 -634 C 80 -696.667 101 -749 143 -791 C 185 -833 237.333 -854 300 -854 C 334.667 -854 367.667 -846.667 399 -832 C 430.333 -817.333 457.333 -796.667 480 -770 C 502.667 -796.667 529.667 -817.333 561 -832 C 592.333 -846.667 625.333 -854 660 -854 C 722.667 -854 775 -833 817 -791 C 859 -749 880 -696.667 880 -634 C 880 -603.333 874.833 -573.333 864.5 -544 C 854.167 -514.667 836 -482.5 810 -447.5 C 784 -412.5 749 -373 705 -329 C 661 -285 605.333 -232.667 538 -172 L 480 -120 Z M 480 -501 Z" fill="currentColor" transform="matrix(1, 0, 0, 1, 7.105427357601002e-15, 1.1368683772161603e-13)" />
                            </svg>
                        </Animate>
                    }
                    else
                    {
                        <Animate Animation="Animations.ZoomIn" Duration="TimeSpan.FromSeconds(0.5)">
                            <img class="favorite-button-icon" src="/images/heart.svg" />
                        </Animate>
                    }
                }
            </div>
        }
    </div>
}

@code {
    [Parameter] public BaseMusicItem? musicObject { get; set; } = null;
    [Parameter] public string placeholderBase64 { get; set; } = String.Empty;
    [Parameter] public bool isGrid { get; set; } = false;
    [Parameter] public bool cacheAsRecentItem { get; set; } = false;
    [Parameter] public Action? OnViewAction { get; set; } = null;
    private int resolution = 300;
    private string errorMsg = string.Empty;
    Guid elementId = Guid.NewGuid();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (OnViewAction != null)
        {
            var lDotNetReference = DotNetObjectReference.Create(this);
            await JS.InvokeAsync<string>("InfiniteScrollInitObserver", new object[2] { lDotNetReference, elementId });
            // Need to add event listener on this componenet to have it call the LoadMore function
        }
    }

    private void NavigateTo()
    {
        if (musicObject != null)
        {
            MauiProgram.MainPage.ShowLoadingScreen(true);
            var typeHandle = musicObject.GetType().Name;
            switch (typeHandle)
            {
                case "Album":
                    if (musicObject.id == Guid.Empty) { return; }
                    if (cacheAsRecentItem) { AddToRecentResult(); }
                    MauiProgram.WebView.NavigateAlbum(musicObject.id);
                    break;
                case "Artist":
                    if (musicObject.id == Guid.Empty) { return; }
                    if (cacheAsRecentItem) { AddToRecentResult(); }
                    MauiProgram.WebView.NavigateArtist(musicObject.id);
                    break;
                case "Song":
                    if (musicObject.id == Guid.Empty) { return; }
                    if (cacheAsRecentItem) { AddToRecentResult(); }
                    MauiProgram.WebView.NavigateAlbum(musicObject.id);
                    break;
                case "PlaylistSong":
                    if (musicObject.id == Guid.Empty) { return; }
                    if (cacheAsRecentItem) { AddToRecentResult(); }
                    MauiProgram.WebView.NavigateAlbum(musicObject.id);
                    break;
                case "Genre":
                    // TODO: Configure genre page
                    break;
                case "Playlist":
                    if (musicObject.id == Guid.Empty) { return; }
                    if (cacheAsRecentItem) { AddToRecentResult(); }
                    MauiProgram.WebView.NavigatePlaylist(musicObject.id);
                    break;
                default:
                    // TODO: Configure error message
                    break;
            }
        }
    }

    private async void FavouriteItem()
    {
        if (musicObject != null)
        {
            musicObject.isFavourite = !musicObject.isFavourite;
            await MauiProgram.api.SetFavourite(musicObject, musicObject.isFavourite);
        }
        StateHasChanged();
    }

    private void AddToRecentResult()
    {
        if (musicObject != null)
        {
            if (!MauiProgram.recentSearchResults.ContainsKey(musicObject.id))
            {
                MauiProgram.recentSearchResults.Add(musicObject.id, musicObject);
            }
            else
            {
                // delete and add :) Put shit back on top 
                MauiProgram.recentSearchResults.Remove(musicObject.id);
                MauiProgram.recentSearchResults.Add(musicObject.id, musicObject);
            }
        }    
    }

    private async void OpenContextMenu()
    {
        if(musicObject != null)
        {
            MauiProgram.MainPage.OpenContextMenu(musicObject, 250, placeholderBase64);
            await Task.Run(() =>
            {
                // Literally just waiting for the fucking thing to close before we refresh
                while (MauiProgram.MainPage.isContextMenuOpen == true)
                {

                }
            });
            StateHasChanged();
        }
    }
    
    [JSInvokable("OnView")]
    public void OnView()
    {
        if(OnViewAction != null)
        {
            OnViewAction.Invoke();
        }
    }
}
