@using PortaJel_Blazor.Data;
@using PortaJel_Blazor.Shared.Icons;
@using PortaJel_Blazor.Classes; 
@inject IJSRuntime JS
@namespace PortaJel_Blazor.Shared

<div class="header" style="height: @headerHeight">
    <div class="header-imgcontainer PageSecondaryBackgroundColor" style="height: @headerHeight" id="header-backgroundPlaceholder">
        <img src="data:image/png;base64, @backgroundImgUrlPlaceholder" class="header-background" />
    </div>

    <div style="height: @contentHeight" class="header-infocontainer">
        @if (ShowSelectionTools)
        {
            <div @onclick=CancelSelectionMode>
                <CancelIcon ExtraStyle="
                margin: auto 0 auto 1rem;
                padding: 0;
                width: 2rem;
                height: 2rem;
                z-index: 200;
                position: relative;" />
            </div>
        }
        else
        {
            <div @onclick=GoBack>
                <BackIcon ExtraStyle="
                margin: auto 0 auto 1rem;
                padding: 0;
                width: 2rem;
                height: 2rem;
                z-index: 200;
                position: relative;" />
            </div>

            <div class="header-nameContainer" @onclick=GoToArtist>
                @if (baseMusicItem != null)
                {
                    if (baseMusicItem is Album)
                    {
                        Album item = (Album)baseMusicItem;
                        <h3 id="header-text" class="header-text hidden PrimaryTextColor">@item.Name</h3>
                    }
                    else if (baseMusicItem is Artist)
                    {
                        Artist item = (Artist)baseMusicItem;
                        <h3 id="header-text" class="header-text hidden PrimaryTextColor">@item.Name</h3>
                    }
                    else if (baseMusicItem is Playlist)
                    {
                        Playlist item = (Playlist)baseMusicItem;
                        <h3 id="header-text" class="header-text hidden PrimaryTextColor">@item.Name</h3>
                    }
                }
            </div>
        }

        <div style="margin-left: auto; grid-column: 3;" @onclick="OpenContextMenu">
            <MoreHorizIcon ExtraStyle="
                margin: auto 1rem auto auto;
                padding: 0;
                width: 2rem;
                height: 2rem;
                z-index: 200;
                position: relative;" />
        </div>
    </div>

</div>

@code {
    [Parameter] public string backgroundImgUrlPlaceholder { get; set; } = string.Empty;
    [Parameter] public string backgroundImgUrl { get; set; } = string.Empty;
    [Parameter] public BaseMusicItem? baseMusicItem { get; set; } = null;

    [Parameter] public Action? SelectionCancelCallback { get; set; } = null;
    [Parameter] public Action? ContextMenuOpenCallback { get; set; } = null;
    [Parameter] public bool ShowSelectionTools { get; set; } = false;
    [Parameter] public ContextMenuItem[] ToolMenuItems { get; set; } = [];

    private string name = string.Empty;

    private string headerHeight = (MauiProgram.SystemHeaderHeight + 64) + "px!important";
    private string contentHeight = (MauiProgram.SystemHeaderHeight) + "px!important";

    private async void GoBack()
    {
        MauiProgram.WebView.isLoading = true;
        MauiProgram.MainPage.ShowLoadingScreen(true);
        try
        {
            await JS.InvokeAsync<string>("goBack");
        }
        catch (Exception ex)
        {
            bool answer = await App.Current.MainPage.DisplayAlert("Error?", $"Failed to navigate back will return home. Error: {ex} ", "Return", "Continue");
            MauiProgram.WebView.NavigateHome();
        }
    }

    private void CancelSelectionMode()
    {
        ShowSelectionTools = false;
        if(SelectionCancelCallback != null)
        {
            SelectionCancelCallback.Invoke();
        }
        MauiProgram.ViewHeaderCloseSelectCallback = null;
        StateHasChanged();
    }

    private void GoToArtist()
    {
        if (baseMusicItem is Album)
        {
            Album item = (Album)baseMusicItem;
            if (item != null && item.Artists.First() != null)
            {
                MauiProgram.WebView.NavigateArtist(item.Artists.First().Id);
            }
        }
    }

    private void OpenContextMenu()
    {
        if(ContextMenuOpenCallback != null)
        {
            ContextMenuOpenCallback.Invoke();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeAsync<string>("InitalizeArtistView");
    }
}
