@using PortaJel_Blazor.Data;

@if (isGrid)
{
    <div class="grid-album-container">
        <div class="grid-album-cover" @onclick=NavigateToAlbum>
            <img class="grid-album-img" src="@album.imageSrc" loading="lazy"/>
        </div>
        <div @onclick=NavigateToAlbum>
            <div class="album-name">@album.name</div>
            <div class="album-artist">@album.GetArtistName()</div>
        </div>
    </div>
}
else
{
    <div class="album-container">
        <div class="album-cover" @onclick=NavigateToAlbum>
            <img class="album-cover" src="@album.imageSrc" />
        </div>
        <div @onclick=NavigateToAlbum>
            <div class="album-name">@album.name</div>
            <div class="album-artist">@album.GetArtistName()</div>
        </div>
        <div class="favorite-button" @onclick=FavouriteItem>Favorite</div>
    </div>
}

@code {
    [Parameter] public Album album { get; set; } = new Album();
    [Parameter] public bool isGrid { get; set; } = false;

    private void NavigateToAlbum()
    {
        if (album != null)
        {
            if(album.id == Guid.Empty) { return; }
            MauiProgram.mainLayout.NavigateAlbum(album.id);
        }
    }
    private void FavouriteItem()
    {

    }
}
